---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="お問い合わせ">
  <h1>お問い合わせ</h1>
  <p>ご質問・ご意見・誤情報のご指摘等はこちらからお送りください。</p>
  <p>内容を確認のうえ、順次ご返信いたします。投資助言・個別銘柄の推奨に関するお問い合わせにはお答えできません。</p>

  <iframe
    src="https://docs.google.com/forms/d/e/1FAIpQLSfb36xFoso-EJzsSAcXpaFESCI_9gWIBtRmXofPgwz1Rye2Pw/viewform?embedded=true"
    width="100%"
    height="700"
    frameborder="0"
    marginheight="0"
    marginwidth="0"
  >読み込んでいます…</iframe>
</BaseLayout>
